<h1>Just messing around with some stuff</h1>
<p class="lead">Playing with some Angular.js, some heroku, some bootstrap, and tornado.</p>

<p>The idea here is to build some sort of web application using tools that I am not (overly) familiar with, just as a way to exercise the ol' grey-matter. I don't know what I'll do yet, I doubt it will be very useful to the world at large, but it's going to be something.  Why is this called <span class="text-danger"><b>Genetic-Endgame</b></span>? Because Heroku can randomly give your project a name for you - after clicking through a few random names, I saw one with the word <b>genetic</b> and another with the word <b>endgame</b>. So, <span class="text-danger"><b>Genetic-Endgame</b></span> was born!</p>


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Angular.js</h3>
          <p>Creates <em>single page</em> javascript applications?  This page is magically loaded by javascript! It's a rediculously complicated way to load just a simple page like this, but interesting to learn.</p>
          <p><a class="btn btn-default" href="https://angularjs.org/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h3>Bootstrap</h3>
          <p>I don't really <em>do</em> design, so the bootstrap library does all the fancy things I think I want. Responsive design, nice typography, some fancy widgets when necessary.</p>
          <p><a class="btn btn-default" href="http://getbootstrap.com/" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Heroku</h3>
          <p>Being cheap, I don't want to spend a whole lot of money to host a site I'm just playing around with, but being mostly a server-side developer, I want to be able to play with relational databases, NoSQL databases, and server-side APIs. Heroku is a crazy way to do all that for free (with limitations)</p>
          <p><a class="btn btn-default" href="https://www.heroku.com/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-6">
          <h3>Tornado</h3>
          <p>After using Python based web-frameworks for <em>a decade</em> now, python feels like home. That being said, I've grown complacent with Pylons/Pyramid, and want to try something different. So I've looked to Tornado - which uses asynchronous networking and other cool stuff. I don't know what I can do with that, yet!</p>
          <p><a class="btn btn-default" href="http://www.tornadoweb.org/" role="button">View details &raquo;</a></p>
       </div>
      </div>
      </div>