<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <p>I am someone who is very interested in games - the systems <em>behind</em> the games, actually. Given that, and the fact that heroku named this app <b>endgame</b>, we'll make something game-like.</p>
      <p>A board game I played back in High School called <b><a href="https://boardgamegeek.com/boardgame/1758/advanced-heroquest">Advanced Hero Quest</a></b> (AHQ). AHQ used puzzle-like cardboard tiles, and a set of twelve sided dice to allow you to randomly generate a dungeon full of monsters, traps and treasure. I have since found online a PDF version of the rulebook, with all of the rules for generating that dungeon. I've made a few stabs at converting those rules to a javascript library, using svg to draw a dungeon for you. So - that will be finished up and we'll build a dungeon!</p>
      <p>The picture <span class="hidden-sm hidden-xs">at right</span><span class="hidden-md hidden-lg">below</span> is my original stab at it. Now, I don't really do graphic design so yes, it is ugly. I'll try to fix that, but I'm not making promises.</p>
      <p><b><a href="/ahq">Play with the current version of the Map Generator!</a></b>. You can click on the white boxes (doors) and Passage Junctions to reveal more of the map. You can make your hero (the green box) move through the dungeon with your W, A, S, and D keys.</p>
    </div>
    <img src="/static/img/ahq.png" class="col-md-4 img-responsive">
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <p>If you have a dungeon - it needs to populated with monsters (not necessarily dragons)! If you have a dungeon full of monsters, you need heroes to protect the townsfolk from those monsters. If you have heroes facing off against monsters - you need a system to resolve those fights! Being a nerd - I've played 
      <a href="https://en.wikipedia.org/wiki/Call_of_Cthulhu_(role-playing_game)">my</a> 
      <a href="https://en.wikipedia.org/wiki/Middle-earth_Role_Playing">share</a> 
      <a href="https://en.wikipedia.org/wiki/Ninjas_%26_Superspies">of</a> 
      <a href="https://en.wikipedia.org/wiki/Editions_of_Dungeons_%26_Dragons#Advanced_Dungeons_.26_Dragons_2nd_edition">role-playing</a> 
      <a href="https://en.wikipedia.org/wiki/Star_Wars:_The_Roleplaying_Game">games</a> 
      <a href="https://en.wikipedia.org/wiki/Heroes_Unlimited">when</a> 
      <a href="https://en.wikipedia.org/wiki/Rifts_(role-playing_game)">younger</a>, and I still like to read the 
      <a href="https://en.wikipedia.org/wiki/Editions_of_Dungeons_%26_Dragons#Dungeons_.26_Dragons_4th_edition">rulebooks</a> of 
      <a href="https://greenronin.com/fantasyage/">newer</a> 
      <a href="https://en.wikipedia.org/wiki/Editions_of_Dungeons_%26_Dragons#Dungeons_.26_Dragons_5th_edition">games</a>. Because I'm still a nerd, and I like game systems. Don't judge me. My point being - I have a wealth of systems from which to pull with which to build a way for some heroes to slay some monsters. 
      </p>
      <p>So, we'll pick and choose interesting systems from whatever I want, and build some sort of simple system for fighting monsters. Now, I'm not really too interested in building a role-playing game, and I'm not building the next <a href="https://en.wikipedia.org/wiki/Diablo_(video_game)">Diablo</a> - I'm just wasting some time here. So, eventually, maybe you and your friends can walk around in an ugly dungeon and stab goblins in a simplistic way.</p>
    </div>
  </div>
</div>